      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Lucas Ocon
              <a href="<%= url_for dashboard_path %>" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->